/* Geral */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Open Sans', sans-serif;
    scroll-behavior: smooth
}

body{
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Barra de Navegação */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    opacity: 0.9;
    z-index: 1;
    position: sticky;
    width: 100%;
    height: 120px;
    background-color: #4C297C;    
}

.container-logo{
    display: flex;
}

.nav li{
    display: inline-block;
    margin: 0 10px;
}

.nav li a{
    font-size: 24px;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 25px;
    color: white;
}

.nav li a:hover{
    background-color: #6A3F8D;
    transition: 0.7s;
}

.nav2 li{
    display: inline-block;
}
.nav2 li a {
    font-size: 24px;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 25px;
    color: white;
    background-color: #A966D5;
}

.nav2 li a:hover{
    background-color:#6A3F8D;
    transition: 0.7s;
}

/* Barra de Navegação Responsividade*/

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
  }

  .container-logo {
    margin-bottom: 10px;
  }

  .nav {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .nav li,
  .nav2 li {
    display: block;
    margin: 10px 0;
  }

  .nav li a,
  .nav2 li a {
    padding: 10px 20px;
    border-radius: 15px;
  }
}


/* Seção 1 */

.seção1{
    position: relative;
    height: 80vh;
}

.imagem-fundo1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagem2.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    display: flex;
    align-items: center;
    z-index: -1
}

.conteudo1{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 100px;
}

.conteudo1 h2{
    color: rgb(255, 255, 255);
    font-size: 60px; 
    font-weight: 700; 
    margin-bottom: 10px;
}

.conteudo1 p{
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    
}

/* Seção1  Responsividade*/


@media (max-width: 767px) {
  .conteudo1 {
    padding: 50px;
  }

  .conteudo1 h2 {
    font-size: 40px;
  }

  .conteudo1 p {
    font-size: 18px;
  }
  .seção1{
    height: 1000px;
  }
}


/* Seção 2 */
.seção2 {
  background-color: #F9F9F9;
  padding: 50px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo2 {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.conteudo2 h2 {
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: 0;
}

.funcionalidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.funcionalidades-esquerda,
.funcionalidades-meio,
.funcionalidades-direita {
  flex-basis: 30.00%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.funcionalidades ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #362C75;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #4D49CC;
}

.funcionalidades li {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
  display: inline-flex;
  flex-basis: 80%;
}

/* Responsividade da Seção 2 */

@media (max-width: 767px) {
  .funcionalidades-esquerda,
  .funcionalidades-meio,
  .funcionalidades-direita {
    flex-basis: 100%;
  }
  .conteudo2{
    width: 80%;
  }
  .conteudo2 h2 {
    font-size: 35px;
    align-items: center;
    text-align: center;
  }
}
  /* Seção 3 */
  
  .seção3 {
    margin-top: 50px; 
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    overflow: hidden;
    height: auto;
  }
  
  .imagem-fundo2 {
    background-image: url('imagem3.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(8px);
    z-index: -1;
    bottom: -100px;
  }
  
  .conteudo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 107vh;
    width: 70%;
    margin: 0 auto;
    z-index: 1;
  }
  .h2-1{
    color: white;
    font-size: 60px;
    margin-bottom: 100px;
  }
  .colunas {
    display: flex;
    justify-content: space-between;
  }
  
  .coluna h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .coluna p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  
  .coluna ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .coluna ul li {
    margin-bottom: 5px;
  }

  .coluna {
    position: relative;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
  }
  .coluna:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .retangulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  .disable{
    color: #b1b1b7;
    text-decoration: line-through;
  }
  
  .botao-assinar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A966D5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-assinar:hover {
    background-color: #6A3F8D;
  }

/* Seção3  Responsividade*/


  @media (max-width: 1300px) {
    .conteudo3 {
        width: 90%;
        margin-top: 600px;
    }

    .colunas {
        flex-direction: column; 
        align-items: center; 
    }

    .coluna {
        width: 100%; 
        margin-bottom: 30px;
    }
    .seção3 {
      height: 2500px;
    }
}

/* Seção 4 */

.seção4 {
  background-color: #F9F9F9;
  padding: 50px 0;
  text-align: center;
}

.container-contato {
  max-width: 960px;
  margin: 0 auto;
}

.container-contato h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.formulario-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.campos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.campo {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.campo label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.campo input,
.campo textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.campo .exemplo {
  font-size: 14px;
  color: #888888;
  margin-top: 5px;
}

.campo button {
  background-color: #4C297C;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.campo button:hover {
  background-color: #6A3F8D;
}

/* footer */

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-items: center;
}

